.layout__header {
	color: var(--light);
	background-color: var(--bs-classic-blue);
	height: 4rem;
}
.layout__sidebar {
	background-color: var(--bs-classic-blue-tinst1);
	width: 8rem;
}
.layout__body {
	background-color: var(--bs-classic-blue-tint2);
}
.layout__sidebar,
.layout__body {
	height: calc(100vh - 4rem);
}